
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twig</title>
</head>
<body>
    {# #}
<h1>Mi nombre es {{ person['name'] }} y tengo {{ person.age }}.</h1>
<p>Y trabajo en {{ attribute(person, 'name-company') }}</p>

</body>
</html>