<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ciclo for en twig</title>
</head>
<body>
<h1>Ciclo for en twig</h1>
<h2>Personas</h2>
<ul>
    {% for item in people%}
        <li>{{ item }}</li>
    {% endfor %}
</ul>

<h2>Secuencia de números</h2>
<ul>
    {% for i in 0..10 %}
        <li>{{ i }}</li>
    {% endfor %}
</ul>


<h2>Secuencia de letras</h2>
{% set counter = 0 %}
{% set i = 0 %}
<ul>
    {% for letter in 'a'|upper..'z'|upper %}
    {% set i = i + 1 %}
        <li>{{ letter }} </li>
    {% endfor %}
    <li>Final {{ i }}</li>
</ul>

</body>
</html>