<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ciclo for en twig</title>
</head>
<body>
<h1>Ciclo for en twig</h1>
<h2>Personas</h2>
<ul>

    {% for item in people%}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
    
</body>
</html>